*{
  margin: 0;
  padding: 0;
  
}
body{
  overflow-y: hidden;
}
.main{
  background-color: black;
  height: 100vh;
  width: 100vw;
  gap: 4vw;
}
.box p{
  color: black;
  text-decoration: none;
}
.box a{
  text-decoration: none;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  height: 40vh;
  transition: 0.2s;
  
  border-radius: 30px;
  width: 30vw;
  background-color: purple;
}
.box:hover{
  scale: 105%;
  transition: 0.2s;
}
.full{
  height: 100%;
  width: 100%;
}
.text{
  font-size: 7vw;
}
